doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    script(src="/public/bower_components/modernizr/modernizr.js")
    link(rel="stylesheet", href="/public/css/styles.css")
  body
    h1= header
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
    ul
      each val in names
        li= val
    script(src="/public/bower_components/jquery/dist/jquery.min.js")
    script(src="/public/bower_components/foundation/js/foundation.min.js")
